* {
   /*outline: 1px solid red !important;*/
   font-family: Verdana, sans-serif;
}

h1 {
	color: #666;
	font-size: 48px;
	margin-top: 45px;
	margin-bottom: 30px;
}

h2 {
	color: #f07c17;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
}

p {
	color: #666;
	font-size: 16px;
	line-height: 32px;
}

ul {
	line-height: 32px;
	letter-spacing: 1px;
}

.mockup-overlay {
	top: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
}

.photo {
	width: 372px;
	margin-top: 2px;
}

.features {
	border: 1px solid #ccc;
    margin-top: 31px;
    padding-top: 31px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 29px;
    margin-bottom: 30px;
}